{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mt-5">ورود به حساب کاربری</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">ورود</button>
        </form>
    </div>
{% endblock %}